body {
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	--ting_color_yellow: #fae90c;
}

.page_title {
	font-size: 36px;
	padding-left: 15px;
}

#dashboard_page {
	background-color: black;
	min-height: 100vh;
	color: white;
	padding: 15px 0px;

	.dashboard_area {
		display: flex;
		flex-wrap: wrap;

		.dashboard_item {
			width: 33.33%;
			padding: 15px;

			@media (max-width: 991px) {
				width: 50%;
			}

			@media (max-width:767px) {
				width: 100%;
			}

			.card {
				background-color: var(--ting_color_yellow);
				color: black;
				display: flex;
				flex-direction: column;
				margin: 0;
				height: 100%;

				.card-content {

					.card-title {
						font-weight: 600;
					}
				}

				.card-action {
					border-top: 1px solid rgba(0, 0, 0, 0.41);
					margin-top: auto;

					a {
						color: black;

						&:hover {
							color: black;
						}
					}
				}
			}
		}
	}

}
